/* CSS declarations go here */

body {
    background-image: url("sunset.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

fieldset {
	width: 35%;
	table-layout: fixed;
	border-width:1;
	border-style:ridge;
	border-color:blue;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
	}

legend {
	border:none;
	}

.half-width-input {
	width:100%
}

.double-td-left {
	white-space: pre-line;
}

.corpustable {
	width: 100%;
	table-layout: fixed;
	border-width:1;
	border-style:ridge;
	border-color:blue;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #888888;
}

#corpusList, #newCorpus {
	width: 100%;	
}

.corpName {
	width: 50%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.ziptable {
    width: 100%;
}

td {
	vertical-align: top;
	white-space: nowrap;
}

#toobig {
	border: none;
	white-space: nowrap;
	width: 50em;                   
	overflow: hidden; 
	text-overflow: ellipsis;
}

.clear {
    clear: both;
}

.div {
	border: 1px;
}



